/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  background-image: url("./resources/clouds.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  display: grid;
  grid-template-columns: 1fr 10fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-rows: 700px;
  /* gap: 0px 0px; */
  grid-template-areas:
    "header minefield minefield minefield"
}

.header { 
  grid-area: header
}
.minefield { 
  grid-area: minefield;
}

