.minefield {
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto; */
    /* grid-template-columns: repeat(35, 35fr); */
    /* width: 100px; */
    /* margin-left: 450px; */
    /* margin-left: 31% ; */
    /* position: absolute; */
    margin-top: -29px;
}

