.mine0 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: chartreuse;
    font-weight: bold;
}

.mine1 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: blue;
    /* padding: 2px; */
    /* padding-bottom: 7px; */
    font-weight: bold;
}

.mine2 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.mine3 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: orange;
    font-weight: bold;
}

.mine4 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.mine5 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: darkred;
    font-weight: bold;
}

.mine6 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: purple;
    font-weight: bold;
}

.mine7 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: rebeccapurple;
    font-weight: bold;
}

.mine8 {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.openedEmptiness {
    background-color: rgba(250, 249, 249, 0.486);
    outline: none;
}

.mine-svg {
    margin-left: -3px;
}

.flag-svg {
    margin-left: -6px;
    /* padding-left: 1px; */
}

